* {
    text-decoration: none;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ LOGO ~~~~~~~~~~~~~~~~~~~~~~ */

.logo-link {
    display: flex;
    font-style: normal;
    font-size: 80px;
    line-height: 94px;
    margin: 63px 0 0 0;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

.logo-link span {
    color: #4BCAFF;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ TOP-MENU ~~~~~~~~~~~~~~~~~~~~~~ */

.nav-links {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #35444F;
    margin: 40px 0 0 0;
}

.nav-links li {
    border-right: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
}

.nav-links li:nth-child(1) {
    border-left: 1px solid #FFFFFF;
}

.nav-links a {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 21px;
}

.nav-links :hover {
    background: #222F3A;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ LEFT-MENU ~~~~~~~~~~~~~~~~~~~~~~ */

.container-main {
    display: flex;
}

.left-menu-links {
    margin: 49px 52px 0 0;
    width: 344px;
    border: 1px solid #000000;
}

.left-menu-item {
    display: flex;
    justify-content: flex-start;
    font-style: normal;
    font-size: 27px;
    line-height: 27px;
    padding: 25px 0 25px 45px;
    font-family: "Roboto", sans-serif;
    color: #485863;
}

.left-menu-item:hover {
    background: #DBDBDB;
    padding: 25px 0 25px 65px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ MAIN-IMAGE ~~~~~~~~~~~~~~~~~~~~~~ */

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    margin: 49px 0 0 0;
    border: 1px solid #000000;
    overflow: hidden;
}

.image-div img {
    width: 320px;
    height: 381px;
}

.image-div img:hover {
    transform: scale(1.2);
    transition: all 300ms linear;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ MAIN-TEXT ~~~~~~~~~~~~~~~~~~~~~~ */

.container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 37px 0 0 0;
}

.container-text p {
    display: flex;
    padding: 0 0 35px 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~ */

.footer {
    display: flex;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-top: 20px;
}

.footer-links {
    display: flex;
    text-align: center;
}

.footer-menu-item {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin: 18px;
}

.footer-menu-item:hover {
    color: #3181A6;
    border-bottom: 2px solid #3181A6;
}

.copyright {
    color: #010101;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    margin-left: 60px;
}